body {
    align-content: center;
    background-image: url(../img/bgnew.gif);
    background-repeat: repeat;
    background-size: 20%;
}

/*  old BG
    background-image: url("../img/bg1.gif"), url("../img/bg2.gif");
    background-position: left, right;
    background-repeat: repeat-y, repeat-y;
    background-size: 50%, 50%;
*/

.container {
    margin: auto;
    width: auto;
}

header {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/barpattern2.png"), url("../img/barpattern.gif");
    background-position: top, bottom;
    background-repeat: repeat-x, repeat-x;
    background-size: auto 90px, auto 35px;
    width: calc(100% - 310px);
    height: 80px;
    display: flex;
    padding: 10px 190px 35px 120px;
    margin-bottom: 8px;

    position: fixed;
    z-index: 2;
}

header h1 {
    margin: auto;
    width: 35%;
}

header ul {
    width : 65%;
    align-items: center;
    display: flex;
}

header ul li {
    flex-grow: 1;
}

.alignvertical {
    flex-direction: column;
}

main {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
}

.contentwrap {
    color: white;
    background-color: white;

    width: 760px;
    padding: 10px 5px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.overviewcontent {
    background-color: #143314;
    padding: 25px 50px;
    height: 300px;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    display: flex;
    gap: 30px;
}

.overviewcontent p {
    position: relative;
    flex-grow: 1;
    height: fit-content;

    margin: auto;
}

.overviewcontent img {
    display: inline;
    height: auto;
    width: 300px;
    aspect-ratio: initial;
}

.rounded {
    border-radius: 50%;
}


.itemlist {
    display: flex;
    gap: 4px;
}

.itemlist h1 {
    background-color: #051c05;
    width: auto ;
    height: 36px;
    padding: 14px 30px;
}

.itemlist h2 {
    padding: 10px 0px;
}

.itemcategory {
    background-color: #143314;
    padding: 15px;
    height: 275px;
    display: flex;
}

.itemcategory img {
    height: auto;
    width: 35%;
    border-width: 4px;
    margin: 10px;
    border-style: solid;
}

.linkbutton {
    display: inline-block;
    align-self: center;
    height: 10%;
    width: 40%;
    border-style: solid;
    border-radius: 10px;
    background-color: #366927;
    border-color:#366927;
    border-width: 10px;
}

.linkbutton:active {
    background-color: #051c05;
    border-color: #051c05;
}

.buttondescription {
    padding: 8px;
    padding-left: 16px;
    width: 65%;
}

.buttondescription p {
    height: 63%;
    font-size: 17px;
}

.buttondescription h1 {
    align-items: center;
    display: grid;
    height: 17%;
    background-color: #143314;
    margin-bottom: 5px;
}


/* CONTACT */

.contactContainer
{
    background-color: #143314;
    height: fit-content;
    width: auto;
    display: flex;
    padding: 12px;
    gap: 30px;
}

.contactContainer p {
    font-size: 20px;
    width: 65%;
    padding: 46px 0;
}

.contactContainer ul {
    width: 35%;
}

.contactContainer li {
    display: flex;
    flex-direction: row;
    height: 50px;
    font-size: 20px;
}

.contactContainer li:not(:last-child) {
    margin-bottom: 8px;
}

.contactContainer li a {
    flex-grow: 1;
    margin: 13px 0;
    padding: 0;
}

.contactContainer li img {
    height: 100%;
    object-fit: contain;
}

/* Desktop Query */

@media only screen and (min-width: 1100px) {

    header {
        background-size: auto 55px, auto 35px;
        width: calc(100% - 310px);
        height: 45px;
        padding: 10px 190px 35px 120px;
    }

    .contentwrap {
        width: 1100px;
        margin-top: 115px;
    }

}