body {
    font-family: 'Manrope', sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.1;
}

header h1 {
    font-family: 'Poiret One', sans-serif;
    font-size: 48px;
    text-align: center;
    color: #051c05;

    text-shadow: 1px 1px 1.5px #427d31;
}

header ul li {
    font-weight: normal;
    font-size: 26px;
}

a.headerselect:link {
    color: #051c05;
    text-decoration-line: none;
}

a.headerselect {
    color: #143314;
    text-decoration-line: none;
}

a.headerselect:hover {
    text-shadow: 0px 0px 2px #051c05;
}

a.headerselect:active {
    text-shadow: none;
    font-weight: bold;
}

.itemlist h1 {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poiret One', sans-serif
}

.itemlist h2 {
    font-weight: bold;
    font-size: 26px;
}

.itemcategory {
    font-size: 20px;
    text-align: center;
}

.linkbutton {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.buttondescription h1 {
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

.contactContainer li a {
    text-align: center;
    text-decoration: underline;
    color:white;
}

footer {
    color: #caffb3;
}

@media only screen and (min-width: 1100px) {

    header h1 {
        font-size: 38px;
    }

    header ul li {
        font-size: 20px;
    }

}